:root {
  --main-color: #2c2b2b;
  --main-background-color: #cfcfcf;
  --profile-color: #65da65;
  --dark-color: #333;
  --light-color: #fff;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title h2 {
  font-size: 2.5rem;
  color: var(--main-color);
}

.underline {
  height: 6px;
  width: 20rem;
  background-color: var(--profile-color);
  margin: auto;
  margin-top: 0.5rem;
}

.loading {
  font-size: 2rem;
  color: var(--main-color);
}
