:root {
  --main-color: #2c2b2b;
  --main-background-color: #fffefe;
  --profile-color: #65da65;
  --profile-color-2: #4ea84e;
  --dark-color: #333;
  --light-color: #dae3f0;
  --root-bg-color: linear-gradient(0deg, #85ffbd 0%, #fffb7d 100%);
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

body {
  background-color: var(--light-color);
  text-align: center;
}
img {
  width: 100%;
  object-fit: cover;
  filter: grayscale(1);
}

main {
  background: var(--light-color);
  max-width: 1280px;
  width: 80vw;
  margin: 5em auto;
  padding: 0em 2em;
}
.title h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-color);
}

.underline {
  height: 4px;
  width: 16rem;
  background-color: var(--dark-color);
  margin: auto;
  margin-top: 0.5rem;
}
.refresh {
  background-color: var(--profile-color);
  color: var(--light-color);
  padding: 1em 2em;
  margin: 4em 0;
  border: none;
}
.refresh:hover,
.refresh:focus {
  border: none;
  outline: none;
  background-color: #4ea84e;
}
section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8em;
  margin-top: 2em;
}

@media screen and (max-width: 992px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  section {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .title h2 {
    font-size: 2rem;
  }

  .underline {
    width: 15rem;
  }

  .section {
    margin-top: 2em;
  }
}

article {
  background-color: var(--main-background-color);
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

article:hover {
  box-shadow: 0px 15px 10px rgb(0 0 0 / 30%);
}

article img {
  height: 15rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

article:hover img {
  filter: none;
}

article .tour-price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--profile-color);
  color: var(--light-color);
  padding: 0.5em 1em;
  border-top-right-radius: 0.5rem;
}
.tour-info {
  padding: .5em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.tour-info h5 {
  padding: 1em;
  font-size: 1.2rem;
  color: var(--main-color);
}
.tour-info p {
  font-size: 1rem;
  color: var(--dark-color);
  line-height: 1.5rem;
}
.tour-info p .read-more {
  color: var(--profile-color);
  text-decoration: none;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}
.tour-info p .read-more:hover {
  color: var(--profile-color-2);
}
.delete-btn {
  background-color: var(--profile-color);
  color: var(--dark-color);
  margin-top: 0.5em;
  padding: 0.5em 1em;
  border: none;
  border-bottom-left-radius: 2rem;
  cursor: pointer;
  outline: none;
  transition: all 0.25s ease-in-out;
}
.delete-btn:hover,
.delete-btn:focus {
  color: var(--main-background-color);
  background-color: var(--dark-color);
  border-bottom-left-radius: 0.5em;
  outline: none;
}

/* loading */
.loading {
  font-size: 2rem;
  color: var(--main-color);
  width: 3em;
  height: 3em;
  border: 0.1em dashed var(--profile-color);
  border-radius: 50%;
  border-top: 0.1em dashed transparent;
  border-left: 0.1em dashed var(--profile-color);
  border-right: 0.1em dashed var(--profile-color);
  border-bottom: 0.1em dashed var(--profile-color);
  animation: spin 3s linear infinite forwards;
  position: relative;
  margin: 3em auto;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
